node_modules

/.cache
/build
/public/static
/server/build
.env
*.log

# Compiled files
*.tfstate
*.tfstate.backup
*.tfstate.lock.info

# Directories
.terraform/
.vagrant/
/infra/files

# Ignored Terraform files
*gitignore*.tf

